.rowCredit{
  display: flex;
  flex-direction: column;
}

.titleCredit{
  font-size: 12px;
  font-weight: bold;  
  text-align: center;
  padding: 10px 0;   
}

.creditUser{
  width: 130px;
  background: #dfdfdf;  
  border-radius: 5px;
  padding: 8px 8px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.StyledCredit{
  display: flex;
  flex-direction: row;
  width: 300px;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 200px;
}

.boxContainer{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.StyledView{
  border:1px solid #aaa;
  table-layout: fixed;
  box-sizing: border-box; 
  width: 100vw;
  overflow: scroll;

  
}

.styledIndex{
  z-index: 0;
}

.boxView{
  margin: 0 auto;
  width: 100%;
  overflow: scroll;
}

.StyledButtonVender{
    width: 120px;  
    z-index: 0;
    background: #f50057;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 4px;
    margin: 5px 0;
    box-shadow: 1px 1px 3px #9E9E9E;
    color: #fff;  
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
}

.PositionText{
  text-align: right;
}

.StyledButtonVender:hover{
  background: #e00451;
}

.StyledViewBody{
  text-align: center;
  background: #fff;
  padding: 20px;
}

.StyledViewBody:nth-of-type(odd){
  background: #dad9d9;
}

.StyledCellRow{
  background: #522e74;
  color: #fff;
  text-align: center;
  font-size: 14px;
  position: sticky;
  top: 0;
  padding: 20px;
}

.StyledMSGSaldo{
  padding: 10px;
  margin-left: 8.5em;
  text-align: center;
  color: #e00451;
  display: flex;
  justify-content: center;  
}