*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;   
    color: #000000; 
}

main {
    display: flex;
    justify-content: center;
}

#section-3 {
    margin-left: 70px;
    margin-right: 70px;  
    margin-top: 10px;
    max-width: 1200px;
    max-height: 420px;
    padding-top: 20px;

}

.container__title{
    border: solid 1px;
}

.container__article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container__newstop {
    max-width: 250px;
    max-height: 260px;
    padding: 20px;
    border: solid 1px;
}

.container__img img{
    padding: 0 15px;
    max-width: 340px;
    max-height: 260px;
}

.container__newsright{
    max-width: 390px;
    max-height: 260px;
    border: solid 1px;
}

.container__newsbot{
    max-width: 954px;
    max-height: 80px;
    border: solid 1px;
}

.container__breaknews{
    max-width: 215px;
    max-height: 369px;
    border: solid 1px;
}

.container__breaknews div{
    max-width: 215px;
    max-height: 60px;
    border: solid 1px;
}
