@charset "utf-8";

header{
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 3%;
    width: 100%;
    margin: 0;
}

hr{
    width: 90%;
    size: 2%;
}

.header__top{
    display: flex;
    justify-content: center;
    font-size: 0.6em;        
}

.header__top--p{
    padding-left: 1rem;
}

.header__top--title{
    display: flex;
    justify-content: space-around;
}

.link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.link:hover {
    text-decoration: none;
}

@font-face{
    font-family:'OldLondon';
    src:url("font/OldLondon.ttf");
}
h1{
    font-size: 3.3em;
    font-family: OldLondon;
    margin: 0%;
}

.header__top--bottom{
    display: flex;
    padding: 5px;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 0.8em;
}

.body__top{
    padding-left: 5%;
    display: flex;
    justify-content: flex-start; 
}

.body__vertical--top{
    height: 5.5rem;
    border-right: 1px solid rgb(179, 176, 176);
}

.body__vertical--middle{
    height: 20rem;
    border-right: 3% solid rgb(179, 176, 176);
}

.body__p{
    padding-left: 1rem;
}

.body__img--top{
    width: 50px;
    height: 50px;
    padding-top: 1rem;
}

.body__top--tabela{
    padding-left: 5%;
    padding-right: 5%;
}

