*{
  margin: 0;
}

.container--nav{
  background-color: rgb(50, 13, 85);
  width: 5em;
  height: 68em;
  list-style-type: none;
  position: fixed;
  top: 0;  
}

.container--nav a{
  color: rgb(224, 210, 238);
  text-decoration: none;
  font-size: 0.5rem; 
  font-family: monospace; 
  font-weight: bold;
}

.swipe--paragraph{
  font-size: 0.5rem;
  color: rgb(224, 210, 238);
  font-family: monospace;
  margin-bottom: 0;
}

.container--nav--ul{
  padding-left: 0;
  list-style-type: none;
}

.container--nav--ul--li{
  padding-top: 0.5em;
  text-align: center;
  padding-bottom: 0.5em;
  border-bottom-width: 0.1em;
  border-bottom-style: groove;
  border-bottom-color:rgb(141, 120, 163);
}

.container--nav--ul--li:hover{
  background-color: rgb(82, 46, 116);
}

.lunar--logo{
  width: 5em;
  height: 5em;
}

.magnifying--glass--icon{
  width: 2.5em;
  height: 2.5em;
  filter: invert(60%) sepia(57%) saturate(4221%) hue-rotate(224deg) brightness(92%) contrast(85%);
}

.swipe--icon{
  width: 3.3em;
  height: 3.3em;
  background-color: white;
  border-radius: 0.5em;
  padding: 0.2em;
}

.moon--icon{
  width: 2.7em;
  height: 2.7em;
  filter: invert(60%) sepia(57%) saturate(4221%) hue-rotate(224deg) brightness(92%) contrast(85%);
}

.market--icon{
  width: 3.5em;
  height: 3.5em;
  filter: invert(60%) sepia(57%) saturate(4221%) hue-rotate(224deg) brightness(92%) contrast(85%);
}

.influencer--icon{
  width: 3.8em;
  height: 4em;
  filter: invert(60%) sepia(57%) saturate(4221%) hue-rotate(224deg) brightness(92%) contrast(85%);
}

.feed--icon{
  width: 3.5em;
  height: 3.5em;
  filter: invert(60%) sepia(57%) saturate(4221%) hue-rotate(224deg) brightness(92%) contrast(85%);
}

.compare--icon{
  width: 3.3em;
  height: 3.5em;
  filter: invert(60%) sepia(57%) saturate(4221%) hue-rotate(224deg) brightness(92%) contrast(85%);
}

.sun--icon{
  width: 4em;
  height: 4em;
  filter: invert(60%) sepia(57%) saturate(4221%) hue-rotate(224deg) brightness(92%) contrast(85%);
}

.login--icon{
  width: 4em;
  height: 4em;
  filter: invert(63%) sepia(79%) saturate(2841%) hue-rotate(138deg) brightness(100%) contrast(101%);
}

.signup--icon{
  width: 4em;
  height: 3.8em;
  filter: invert(63%) sepia(79%) saturate(2841%) hue-rotate(138deg) brightness(100%) contrast(101%);
}

.magnifying--glass--icon:hover, 
.moon--icon:hover, 
.market--icon:hover,
.influencer--icon:hover,
.feed--icon:hover,
.compare--icon:hover,
.sun--icon:hover
{
  filter: invert(1);
}