footer {
    display: flex;
    flex-direction: column;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
}

footer::before {
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    border-top: 2px solid #e2e2e2;
    content: '';
    display: block;
    height: 1px;
    margin-top: 10px;
}

.content_container {
    display: flex;
    justify-content: space-between;
}

.footer_last_container {
    display: flex;
    justify-content: space-around;
}

.footer_content {
    width: 200px;
}

.footer_content a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    width: 150px;
    line-height: 16px;
}

.footer_content a:hover {
    text-decoration: underline;
}

.footer_content h3 {
    margin-top: 10px;
    font-size: 13px;
    color: rgb(51, 51, 51);
}

.footer_content p {
    margin: 0;
    padding: 0;
    height: 23px;
}

.footer_subs_span {
    font-size: 16px;
    font-weight: 700;
    height: 25px;
    line-height: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 197.33px;
}

.footer_subs_span img {
    margin-right: 7px;
}

.footer_subs_span p {
    height: 20px;
}

.footer_content .footer_small_links {
    font-size: 11px;
    font-weight: 500;
    height: 23px;
    line-height: 21px;
}

.first p {
    padding-top: 10px;
}

.container_small_links {
    border-top: 1px solid rgb(226, 226, 226);
}

.content_sub {
    border-left: 1px solid rgb(226, 226, 226);
    padding-left: 15px;
}

.footer_last_container {
    display: flex;
    align-items: center;
    border-top: 1px solid #ebebeb;
    margin-top: 9px;
}

.footer_last_container p {
    color: #666;
    font-size: 11px;
    padding-bottom: 35px;
    margin-top: 0;
}

.footer_last_container a {
    text-decoration: none;
}

.footer_last_container a:hover {
    text-decoration: underline;
}
.footer_hidden {
    display: none;
}

#footer-news{
    margin: 10px 0;
}

#footer-opinion{
    margin: 10px 0;
}

#footer-arts{
    margin: 10px 0;
}

#footer-living{
    margin: 10px 0;
}

#footer-more{
    margin: 10px 0;
}