.games{
    display: flex;
    
}

.games-js{
    display: flex;
    margin: 5px;
    padding: 0;
    width: 290px;
    border-right: 0.5px solid rgb(184, 184, 184);
}

.description{
    margin: 0;
    padding: 0;
}

.img-game{
    margin: 0;
    padding: 0 5px 0 0;
}

.description-h{
    font-size: 18px;
}

.description-p{
    font-size: 12px;
}

.link-games{
    text-decoration: none;
    color: #000;
}