body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: Arial;
}
.container {
    width: 1200px;
}
/*
#hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
*/
.hero__row {
    display: flex;
    justify-content: space-between;
}
.border {
    border-left: 0.5px solid #777777;
    border-right: 0.5px solid #777777;
    padding: 0 20px;
}
.img {
    height: 50px;
    width: 50px;
    background-color: blue;
}
.hero__item {
    display: flex;
    align-items: center;
}
.hero__text {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    
}
.text__link {
    color: black;
    text-decoration: none;
}
.text__link:hover {
    color: #535353;
}
.hero__h2 {
    font-size: 16px;
}
.hero__h3 {
    font-size: 12px;
}
.hero__p {
    font-size: 12px;
}
.hero__ul {
    width: 350px;
}
hr {
    margin: 2px;
}
.hero__dest {
    display: flex;
}
.hero__imgs {
    width: 460px;
    height: 300px;
}
.hero__image p {
    font-size: 14px;
}
.hero__image span {
    font-size: 12px;
    color: red;
    font-weight: bold;
}
.hero__dest li {
    font-size: 14px;
    color: #5e5e5e;
    margin: 10px;    
}
.hero__related {
    width: 350px;
    border-left: 0.5px solid #aaaaaa;
    margin-left: 15px;
    padding-left: 5px;
}
.hero__related h2 {
    font-size: 16px;
}
.hero__related p {
    font-size: 14px;
    color: #5e5e5e;
}
.hero__link {
    color: #000000;
    text-decoration: none;
}

/*news people*/
.news-people {
    display: flex;
    justify-content: space-between;
}
.people {
    display: flex;
    width: 33%;
    justify-content: space-around;
}

.people .border {
    border-left: 0.5px solid #aaaaaa;
    border-right: 0.5px solid #aaaaaa;
}
.people__title {
    font-size: 14px;
}
.people__desc {
    font-size: 12px;
}
.people__img {
    margin: 5px 5px;
}
.people__link {
    color: #000000;
    text-decoration: none;
}

/*news main*/

#news, #opinion, #arts, #living, #pop {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
}
.topcs-news__element{
    width: 19%;
    margin: 0 6px;
}
.topics__titles {
    font-size: 14px;
    padding-top: 40px;
}
.element__title {
    font-size: 12px;
    padding: 0;
    padding-top: 10px;
    margin: 3px;
}
.element__desc {
    font-size: 12px;
    width: 213px;
}
.element__title--pop {
    font-size: 14px;
    padding: 0;
    padding-top: 10px;
    margin: 3px;
}
.element__desc--pop {
    font-size: 14px;
    width: 213px;
}
.element__link {
    text-decoration: none;
    color: #000000;
}
.element__desc:hover {
    color: #686868;
    transition: 0.5s;
}

.title__popular,
.title__news,
.title__opinion,
.title__arts,
.title__living {
    display: none;
}