.womens-title, .cooking-title{
    margin: 10px 0;
}

.recepies-cooking, .news-womens{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px;
}

.title-cooking-womens{
    font-size: 15px;
}
.box-news-womens-cooking{
    height: 200px;
    width: 200px;
}

.link-womens-cooking{
    text-decoration: none;
    color: #000;
}
