@charset "UTF-8";
*{
    color:black;
    
}

@font-face {
    font-family: 'OldLondon';
    src: url("OldLondon.ttf");
}

.Título p{
    font-family: OldLondon;
    padding-left: 5%;
    font-size: 2em;
    margin: 10px 0;

    }

.Título{
    font-family: OldLondon;
}

.lista{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    font-size: 0.9em;
    margin: 0 30px;
}

li{
    margin: 10px 0;
}

ul{
    list-style: none;
}
 
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

hr{
    margin-left: 60px;
    margin-right: 60px;
}

a:hover{
    text-decoration: underline;
    color: black;

}
.Footer{
    color: rgb(138, 138, 138);
    font-size: 0.7em;
    display: inline-flex;
    justify-content: space-around;
    margin-left: 90px;
}

.Footer p{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    
    color:rgb(110, 110, 110);
}