.feeds, .destemidos, .influencers, .markets {
  margin-left: 10em;
}

.feeds, .destemidos, .influencers, .markets {
  margin-left: 10em;
}

.box{
  width: 90vw;
  height: 100vh;
  align-self: center;
  align-items: center;
  text-align: center;
  margin: 0 0 0 100px;
  padding: 10px;

}

.box-table{
  margin: 0px 0;
  text-align: right;
}

.btn-market-refrsh{
  cursor: pointer;
  width: 150px;
  height: 25px;
  color: #fff;
  background: #11121b;
}