.feeds, .destemidos, .influencers, .markets {
  margin-left: 10em;
}

.container{
  max-width: 900px;
  margin: 0 auto;
  align-self: center;
  align-items: center;  
}


.SliderView{
  width: 1000px;
  text-align: right;
  margin: 0 auto;
}

.SliderTitle{
  width: 100%;
  text-align: left;
  margin: 0 auto;
}