.video{
  width: 100%;
}
.container--video{
  position: absolute;
  margin-left: 5.5em;
}

.container--text{
  position: relative;
  color: white;
  font-family: -webkit-pictograph;
  padding: 2em 0 0 1em;
}

.first--text{
  font-size: 3rem;
  padding-bottom: 0.5em;
}

.third--text{
  font-size: 1rem;
  padding-top: 0.7em;
}

.container--info{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: 5.5em;
}

.learn--button{
  width: 150px;
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-size: 1rem;
  cursor: pointer;
  border-color: rgb(134, 134, 134);
  padding: 0.6em 0 0 0;
  border-radius: 0.3em;
  margin-left: 68em;
}

.learn--button:hover{
  color: #12c7ff;
}