@charset "utf-8";

.header__top{
    display: flex;
    justify-content: space-around;
    font-size: 0.6em;
    padding-left: 5%;
    padding-right: 5%;      
}

.link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.link:hover {
    text-decoration: none;
}

.body__img--middle{
    width: 200px;
    height: 200px;
    padding: 1rem;
}

.body__p--middle{
    font-size: 1rem;
    width: 200px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: left;
}

.body__p--middle:hover{
    text-decoration: none;
}

hr{
    width: 90%;
    size: 2%;
}

h3{
    font-size: 1.5rem;
    padding-left: 5%;
}

