@charset "UTF-8"
*{
    color: black;
}

h3{
    margin-left: 65px;
    margin-top: 30px;
}

a{
    text-decoration: none;
}

.noticias{
    display: flex;
    max-width: 1200px;
    margin: auto;  
}

strong:hover{
    text-transform:inherit;
    color:rgb(111,111,111) ;
}

li.paragrafo{
    color: rgb(111, 111, 111);
    line-height: 20px;
    padding: 10px;
}


strong{
    color: black;
}

li{
    list-style: none;
}

ul{
    border-width: ;
}


