.menu--config{
  background-color: rgb(46, 46, 46);
  color: white;
}

.menu--config:hover{
  background-color: rgb(46, 46, 46);
}

.button--help{
  background-color:rgb(46, 46, 46);
  color: white;
  cursor: pointer;
  border: none;
  font-size: 1em;
  width: 100%;
}

.menu--sign{
  background-color: rgb(46, 46, 46);
  padding-left: 1.4em;
  color: white;
}

.menu--sign:hover{
  background-color: rgb(46, 46, 46);
}

.button--config{
  margin-top: 28.7em;
  margin-left: 6.3em;
}