*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3,
h4, h5, h6{
  font-size: inherit;
  font-weight: inherit;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

:root{
  --purple: #4A314D;
  --light-purple: #9001a0;
  --black: #050301;
  --black-light: #A6A6A6;
  --gray: #838383;
  --green: #02ff81;
  --yellow: #ff9900;
  --yellow-hover: #fa8807;
  --blue: #273cf5;
  --red: #f72c28;
  --light-red: #ff7370;
  --white: #f7f4f3;
  --white-hover: #e6e5e4;
  --primary-font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Martel', serif;
}

body{
  background: var(--black);
}

.App{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 2;
}