*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3,
h4, h5, h6{
  font-size: inherit;
  font-weight: inherit;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

:root{
  --purple: #4A314D;
  --light-purple: #9001a0;
  --black: #050301;
  --gray: rgb(131, 131, 131);
  --green: #02ff81;
  --yellow: #f59c17;
  --yellow-hover: #ec8e00;
  --blue: #273cf5;
  --red: #f72c28;
  --light-red: #ff7370;
  --white: #F7F4F3;
  --primary-font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Martel', serif;
}