*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3,
h4, h5, h6{
  font-size: inherit;
  font-weight: inherit;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

:root{
  --purple: #4A314D;
  --black: #231A1A;
  --green: #02ff81;
  --yellow: #ffc60a;
  --blue: #273cf5;
  --red: #C3423F;
  --white: #FFF0FB;
  --primary-font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Martel', serif;
  --gradient: linear-gradient(120deg, #C3423F, #4A314D);
}