* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: #000000;
}

#section-3 {
  display: flex;
  justify-content: center;

}

.container__title {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 10px;
  padding-top: 20px;
  border-top: solid 1px #000000;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container__article {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  margin-right: 70px;
}

.container__newsleft {
  max-width: 250px;
  max-height: 260px;
  margin-right: 10px;
  line-height: 1.2rem;
  padding-top: 10px;
}

.container__newsleft h3 {
  padding-bottom: 5px;
}

.container__img img {
  max-width: 340px;
  max-height: 260px;
  padding-top: 10px;
}

.container__newsright {
  max-width: 250px;
  max-height: 260px;
  margin-left: 10px;
  padding-left: 10px;
  line-height: 1.2rem;
  padding-top: 10px;
  border-left: solid 1px gray;
}

.container__newsbot {
  display: flex;
  flex-wrap: nowrap;
  max-width: 860px;
  max-height: 120px;
  margin-top: 10px;
}

.newsbot__right {
    padding-right: 10px;
    text-align: justify;
}

.newsbot__left {
    padding: 0 10px;
    text-align: justify;
    border-left: solid 1px gray;
}

.container__breaknews {
    max-width: 200px;
    max-height: 250px;
    text-align: center;
}

.container__breaknews div {
  max-width: 200px;
  max-height: 80px;
  border-bottom: solid 1px gray;
  padding: 9px 10px;
}
