* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: #000000; 
  }

.section-news{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
    max-width: 1200px;
}

.news__title h4{
    margin-left: 80px;
    margin-right: 70px;
    margin-top: 30px;
}

.news__container{
    display: flex;
    flex-wrap: nowrap;
}

img{
    max-width: 215px;
    max-height: 140px;
}

.news__container h5{
    margin: 10px 0px;
}

.container--first li{
    text-align: left;
    max-width: 230px;
    padding: 5px;
    line-height: 1rem;
    list-style: none;
}

.container--first,
.container--second,
.container--third,
.container--fourth,
.container--five {
    padding: 10px;
}


.container--second li{
    text-align: left;
    max-width: 230px;
    padding: 5px;
    line-height: 1rem;
    list-style: none;
}

.container--third li{
    text-align: left;
    max-width: 230px;
    padding: 5px;
    line-height: 1rem;
    list-style: none;
}

.container--fourth li{
    text-align: left;
    max-width: 230px;
    padding: 5px;
    line-height: 1rem;
    list-style: none;
}

.container--five li{
    text-align: left;
    max-width: 230px;
    padding: 5px;
    line-height: 1rem;
    list-style: none;
}

