.conteudo{
    text-align: center;
    padding: 40px 0;
}

.title-information{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 0;
}

.information{
    max-width: 700px;
}



