

#container {
    display: flex;
    justify-content: center;
    text-align: center;
}

#container h1 {
    text-align: center;
    padding-top: 10px;
}
#container h3 {
    text-align: center;
    padding-top: 10px;
}

#container img {
    padding: 20px 10px;
    max-width: 590px;
    max-height: 390px;
}

