*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.c-box__section2{
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
}

.c-section2{
    display: flex;    
    width: 750px;
    margin: 30px;
    border-bottom: 1px solid #000000;
}

.c-live{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px 10px 30px 0px;    
    line-height: 1;
    width: 460px;    
}

.c-title__new{
    font-weight: bold;  
    margin: 8px 0; 
    font-size: 16px;
    line-height: 1.2;
}

.c-title__color{
    color: #dd0505;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.c-live__row{
    flex-direction: row;  
}

.c-woman__flower{
    width: 300px;
}

.c-title-new__h3{
    font-weight: bold;  
    margin-bottom: 20px;
}

.c-live__row__item{
    flex: 1;      
}

.c-other__link a{
    
    color: #000000; 
    
}

.c-img__new-britany{
    width: 400px;
}

.author-name{
    font-size: 14px;
    color: #7c7c7c
}

.desc-text{
    font-size: 12px;
    color: #7c7c7c;
}

.author-desc{
    font-size: 16px;
    
}



.c-img__new-arc{
    width: 400px;    
    height: 200px;
}

.c-img__righ{
    display: flex;
    justify-content: space-between;
}

.c-img_man{
    width: 400px;
}

.c-img_football{
    width: 350px;
}

.c-new__bordertop{
    border-top: 0.1px solid #7c7c7c;
    padding-top: 10px;
}

.column_opinions{
    display: flex;
    flex-wrap: wrap;        
    justify-content: space-between;
    align-content: stretch; 
}

.c-legend{
    font-size: 9px;
    color: #7c7c7c;
}

.c-column_news{
    display: flex;
}

.c-opinion{
    border-left: 1px solid #7c7c7c;
    padding-left: 20px;
}

.options__opinion{
    display: flex;
}

.column_opinions_item{
    margin-top: 10px;
}

.column_opinions_item:nth-child(2){
    border-left: 1px solid #7c7c7c;
}

.c-opinion__collumn{
    border-bottom: 1px solid #7c7c7c;
    margin: 10px;
}

.column_opinions_item-top{
    border-bottom: 1px solid #7c7c7c;
   padding-bottom: 20px;
    
}

.c-column_editor{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-bottom: 1px solid #7c7c7c;
}

.c-img_corcunda{
    width: 300px;
}

.opinion__final{
    display: flex;
}


.c-final{
    width: 120px;
    text-align: center;
}

.opinion__final_item{
   width: 120px;
    flex: 1;
    flex-basis: 50%;
}

.opinion__final_item:nth-child(2){
    border-left: 1px solid #7c7c7c;
    padding-left: 10px;
}

.img-bidden{
    width: 150px;
    align-items: flex-end;
}