@import url("hero.css");
@import url("second-section.css");
@import url("morenews.css");
@import url("../HTML/Footer/style.css");
@import url("news.css");
@import url("pag2.css");
@import url("header.css");


