.container-inf{
    width: 350px;
    background-color: #ffffff;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid #000;
    padding: 10px;
    align-items: center;
}

.img-user{
    border-radius: 50%;
    width: 50px;
    display: flex;
    flex: 1;
}

.img-profile{
    max-width: 300px;
}

.box-card{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.box-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.txt{
    text-align: justify;
}