h1{
    text-align: center;
}
nav {
    top: 0;
    position: relative;
    z-index: 902;
    margin-left: 40px;
    display: flex;
    justify-content: center;
}
.menu {
    list-style: none;
    display: inline-flex;
    margin-block-end: 2em;
}
.menu{
    margin-left: 15px;
    direction: rtl;
}

ul{
    list-style: none;
    
}
footer{
    display: flex;
    padding: 10px;
    

}
span{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}
