*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit ;
    text-decoration: none;
    padding: 5px 0;
}

a:hover{
    background-color: var(--color-button-hover);  
}

:root{
    --title-color: rgb(0, 0, 0);
    --text-color: rgb(61, 61, 61);
    --background-color: rgb(243, 243, 243);
    --color-button-hover: rgb(235, 235, 235);
    --primary-font: 500 1rem/1.5 'Source Sans Pro', sans-serif;
    --serif-font: 500 1rem/1.5 'Crimson Text', serif;
    --title-font: 400 1rem/1.5 'kingthings_spikelessregular', serif;
}
body{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--background-color);
    font: var(--primary-font);
    font-size: 16px;

}

.title-header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0; 
}

.title-header__h1{
    font: var(--title-font);
    font-size: 4rem;
}

.navbar{
    padding: 0 60px;
    border-top: 1px solid rgb(190, 190, 190);
}

.navigation-menu-header{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.navigations-header{
    height: 15px;
    margin-top: 1px;
    font: var(--primary-font);
    font-size: 0.75rem;
}

.container-links-header{
    display: flex;
    font-size: 14px; 
    padding: 8px 0;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 4px double rgba(0, 0, 0);
}

main {
    padding: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-principal {
    
     display: contents;
    
}

.Buttons {
    padding: 20px;
}

ul{
    list-style: none;
    
}

span{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

h3 {
    margin-left: 40px;
    font-size: 20px;
}

li {
    font-size: small;
}

footer{
    
    display: flex;
    padding: 10px;
    justify-content: space-around;    

}

.border-footer{
    padding: 0 60px;
    border-top: 1px solid rgb(190, 190, 190);
    margin-top: 10px;
    padding: 10px;
}

