.science{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 30px 30px 0px;
}

.science-and-health{
    display: flex;
    justify-content: space-between;
}

.first-col{
    border-right: 1px solid rgb(218, 218, 218);
    width: 50%;
}

.second-col{
    width: 290px;
}

.third-col{
    border-top: 1px solid rgb(218, 218, 218);
}

.full-row{
    padding: 0px 0px 0px 30px;
}

.science-img{
    width: 60%;
    padding: 35px;
}

.first-col h2{
    font-size: 25px;
    font-weight: normal;

}

.science-and-health{
    
}

.science-section__h3{
    font: var(--news-font);
    font-weight: bold;
    font-size: 18px;
    border-top: 1px solid rgba(0, 0, 0);
    padding: 20px 0px 0px 0px;
}

.science-and-health-one{
    width: 50%;
    border-right: 1px solid rgb(218, 218, 218);
}

.science-and-health-two{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.science-and-health-three{
    display: flex;
    justify-content: space-between;
}

.science-img ul li{
    list-style: none;
}

.science-updates__ul--img{
    width: 300px;
}

.play-section{
    height: 200px;
    height: 150px;
}

.play-image-one ul li{
    list-style: none;
}

.img-play{
    width: 100px;
    margin-right: 30px;
}

.container-play{
    display: flex;
    justify-content: space-between;
}

.boxed-updates__ul--img{
    width: 50px;
}

.play-section__h3{
    font: var(--news-font);
    font-weight: bold;
    font-size: 18px;
    border-top: 1px solid rgba(0, 0, 0);
    padding: 20px 0px 0px 0px;
}

.play-section-one{
    display: flex;
    justify-content: space-between; 
}

.play__p{
    font: var(--news-font);
}

.popular-in-the-times{
    border-top: 1px solid rgba(0, 0, 0);
}

.popular-in-the-times__h3{
    font: var(--news-font);
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0px;
}

.pop-times{
    display: flex;
    justify-content: space-between;
    border-bottom: 4px double rgba(0, 0, 0);    
}

.news-div{
    max-width: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.news-div p{
    padding: 15px 0 0 0;
}

.news{

}

.news__h3{
    font: var(--news-font);
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0px;
}

.news-one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.news-two{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.news-three{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 30px;
}

.all-images{
    width: 232px;
}

.other-news__h2{
    font: var(--news-title-font);
    font-weight: bold;
}

.other-news__p{
    font: var(--news-font);
}